---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
@font-face {
  font-family: '8bitoperator JVE';
  src: url(../css/fonts/8bitoperator-transfonter/8bitoperator-JVE.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

h1 {
  font-family: '8bitoperator JVE', sans-serif;
}

$base-font-family: '8bitoperator JVE';
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #EEE;
$background-color: #000;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
